---
http_interactions:
- request:
    method: get
    uri: https://www.potterapi.com/v1/characters?house=Slytherin&key=$2a$10$bGzgXmtfdl6SPhjdbSJBP.Po5fyHpSr3lFZ9gyK8rz.txcfV1v.46&orderOfThePhoenix=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"142-WxDu4/Q7xe74Ry57RFpYRqrP+Z0"
    body:
      encoding: ASCII-8BIT
      string: '[{"_id":"5a1233bc0f5ae10021650d97","name":"Severus Snape","role":"Professor,
        Potions","house":"Slytherin","school":"Hogwarts School of Witchcraft and Wizardry","patronus":"doe","__v":0,"ministryOfMagic":false,"orderOfThePhoenix":true,"dumbledoresArmy":false,"deathEater":true,"bloodStatus":"half-blood","species":"human"}]'
  recorded_at: Mon, 09 Dec 2019 17:53:40 GMT
recorded_with: VCR 5.0.0
